.carousel {
  position: relative;
  width: 100%;
  margin: 30px 0;
  overflow: hidden;
  height: 415px;
  border-radius: 25px;
}

.carousel__content {
  width: 100%;
  height: 415px;
}

.carousel__content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel__button {
  background: none;
  border: none;
  color: white;
  font-size: 80px;
}

.carousel__button svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.carousel__buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 20px;
}

.carousel__tracking {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
