.error {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  font: Montserrat;
  font-size: 288px;
  text-align: center;
}

.error h2 {
  margin: 0;
}

.error p {
  font-size: 16px;
  margin-bottom: 50px;
}

.error__Link {
  color: #ff6060;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .error h2 {
    color: #ff6060;

    text-align: center;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-top: 65px;
    margin-bottom: 100px;
  }
  .error p {
    margin-bottom: 113px;
  }
  .error__Link {
    margin-bottom: 113px;
  }
}
