.footer {
  display: flex;
  height: 209px;
  width: 100%;
  background: black;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 66px;
}

.footer__logo {
  width: 200px;
}

.footer__copyright {
  color: white;
}
