.header {
  display: flex;
  padding: 50px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  width: 250px;
  list-style-type: none;
}

.header__menu li a {
  text-decoration: none;
  list-style: none;
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.header__menu li a:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 500px) {
  .header__menu {
    width: 190px;
  }

  .header__menu li a {
    font-size: 16px;
  }

  .header__logo {
    width: 150px;
  }
  .header {
    width: auto;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 27px;
  }
}
