.logement {
  width: 100%;
  font-family: Montserrat;
  margin-bottom: 50px;
}

.logement__infos {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 24px;
}

.logement__infos-left h1 {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.logement__infos-left h2 {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.logement__collapse {
  display: flex;
  justify-content: space-between;
}

.logement__collapse :first-child {
  margin-right: 36px;
}

@media screen and (max-width: 500px) {
  .logement__infos {
    flex-direction: column;
  }

  .logement__collapse {
    flex-direction: column;
    gap: 20px;
  }

  .logement__infos-left h1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }

  .logement__infos-left h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }

  .logement__infos-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
