.rating {
  font-size: 36px;
  color: #e3e3e3;
  margin-right: 10px;
}

.rating--is-colored {
  color: #ff6060;
}

@media screen and (max-width: 500px) {
  .rating {
    width: 40%;
    font-size: unset;
  }

  .rating svg {
    height: 18px;
    width: 25px;
    margin: 0;
  }
}
